In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('rawdata/testdata.manual.2009.06.14.csv', header=None)
df1.head()
df1['Tweet'] = df1[5]
df1['Category'] = 0
df1 = df1[['Tweet', 'Category']]
df1.head()

                                               Tweet  Category
0  @stellargirl I loooooooovvvvvveee my Kindle2. ...         0
1  Reading my kindle2...  Love it... Lee childs i...         0
2  Ok, first assesment of the #kindle2 ...it fuck...         0
3  @kenburbary You'll love your Kindle2. I've had...         0
4  @mikefish  Fair enough. But i have the Kindle2...         0

In [3]:
df2 = pd.read_csv('rawdata/training.1600000.processed.noemoticon.csv', header=None, encoding = "ISO-8859-1")
df2['Tweet'] = df2[5]
df2['Category'] = 0
df2 = df2[['Tweet', 'Category']]
df2.head()

                                               Tweet  Category
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...         0
1  is upset that he can't update his Facebook by ...         0
2  @Kenichan I dived many times for the ball. Man...         0
3    my whole body feels itchy and like its on fire          0
4  @nationwideclass no, it's not behaving at all....         0

In [4]:
df = pd.concat([df1, df2]).reset_index()
df.head()

   index                                              Tweet  Category
0      0  @stellargirl I loooooooovvvvvveee my Kindle2. ...         0
1      1  Reading my kindle2...  Love it... Lee childs i...         0
2      2  Ok, first assesment of the #kindle2 ...it fuck...         0
3      3  @kenburbary You'll love your Kindle2. I've had...         0
4      4  @mikefish  Fair enough. But i have the Kindle2...         0

In [5]:
df.shape

(1600498, 3)

In [6]:
df.to_csv('data/data.csv')

In [7]:
df3 = pd.read_csv('rawdata/test_set_tweets.txt'
                  , error_bad_lines=False
                  , header=None
                  , sep='\t'
                  , warn_bad_lines=False)
df3.head()

,0,1,2,3
0,22077441,10538487904,Ok today I have to find something to wear for ...,2010-03-15 17:35:58
1,22077441,10536835844,I am glad I'm having this show but I can't wai...,2010-03-15 16:53:44
2,22077441,10536809086,Honestly I don't even know what's going on any...,2010-03-15 16:52:59
3,22077441,10534149786,@LovelyJ_Janelle hey sorry I'm sitting infront...,2010-03-15 15:42:07
4,22077441,10530203659,Sitting infront of this sewing machine ... I d...,2010-03-15 13:55:22

In [8]:
df3['Tweet'] = df3[2]
df3['Category'] = 0
df3 = df3[['Tweet', 'Category']]
df3.shape

(5135949, 2)

In [9]:
df = pd.concat([df1, df2, df3]).reset_index()
df.shape

(6736447, 3)

In [10]:
df = df.drop_duplicates()
df.shape

(6736447, 3)

In [11]:
df[['Tweet', 'Category']].to_csv('data/data.csv', index=False)

In [12]:
df.head()

   index                                              Tweet  Category
0      0  @stellargirl I loooooooovvvvvveee my Kindle2. ...         0
1      1  Reading my kindle2...  Love it... Lee childs i...         0
2      2  Ok, first assesment of the #kindle2 ...it fuck...         0
3      3  @kenburbary You'll love your Kindle2. I've had...         0
4      4  @mikefish  Fair enough. But i have the Kindle2...         0

In [13]:
dfr = pd.concat([pd.read_csv('rawdata/IRAhandle_tweets_{}.csv'.format(a)) for a in range(1,14)])
dfr.head()

C:\Users\darin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (0,15,20) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):
C:\Users\darin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):
C:\Users\darin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (10,20) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,...,Right,0,RightTroll,0,905874659358453760,914580356430536707,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN
1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,...,Right,0,RightTroll,0,905874659358453760,914621840496189440,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN
2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,...,Right,1,RightTroll,0,905874659358453760,914623490375979008,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN
3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,...,Right,0,RightTroll,0,905874659358453760,914639143690555392,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN
4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,...,Right,1,RightTroll,0,905874659358453760,914312219952861184,http://twitter.com/905874659358453760/statuses...,https://twitter.com/realDonaldTrump/status/914...,NaN,NaN

In [14]:
dfr.shape

(2946207, 21)

In [15]:
dfr['Tweet'] = dfr['content']
dfr['Category'] = 1

dfr = dfr[['Tweet', 'Category']]
dfr.head()

                                               Tweet  Category
0  "We have a sitting Democrat US Senator on tria...         1
1  Marshawn Lynch arrives to game in anti-Trump s...         1
2  Daughter of fallen Navy Sailor delivers powerf...         1
3  JUST IN: President Trump dedicates Presidents ...         1
4  19,000 RESPECTING our National Anthem! #StandF...         1

In [16]:
dfrc = dfr.copy()
dfrc['Kill'] = 1
dfn = pd.merge(df,dfrc[['Tweet', 'Kill']], on='Tweet', how='left').fillna(0)
dfn = dfn[dfn['Kill']==0]
dfn.shape

(6710610, 4)

In [17]:
df.shape[0]-dfn.shape[0]

25837

In [18]:
df = pd.concat([dfn[['Tweet', 'Category']], dfr[['Tweet', 'Category']]])

### Git filesizes are an issue

In [19]:
import numpy as np
df['file'] = np.random.randint(0,10,df.shape[0])
df.head()

                                               Tweet  Category  file
0  @stellargirl I loooooooovvvvvveee my Kindle2. ...         0     0
1  Reading my kindle2...  Love it... Lee childs i...         0     1
2  Ok, first assesment of the #kindle2 ...it fuck...         0     6
3  @kenburbary You'll love your Kindle2. I've had...         0     1
4  @mikefish  Fair enough. But i have the Kindle2...         0     9

In [20]:
for a in range(10):
    temp = df[df['file']==a].copy()
    print(temp.head())
    temp[['Tweet', 'Category']].to_csv('data/data_{}.csv'.format(a), index=False)
    print('-'*25)

                                                Tweet  Category  file
0   @stellargirl I loooooooovvvvvveee my Kindle2. ...         0     0
8                                       Loves twitter         0     0
35  omg so bored &amp; my tattoooos are so itchy!!...         0     0
41            is going to sleep then on a bike ride:]         0     0
72  RT @SmartChickPDX: Was just told that Nike lay...         0     0
-------------------------
                                                 Tweet  Category  file
1    Reading my kindle2...  Love it... Lee childs i...         0     1
3    @kenburbary You'll love your Kindle2. I've had...         0     1
58          Malcolm Gladwell might be my new man crush         0     1
99   It's a bank holiday, yet I'm only out of work ...         0     1
104  is Twitter's connections API broken? Some twee...         0     1
-------------------------
                                                Tweet  Category  file
14  dear nike, stop with the flywire. that shit is...         0     2
34  US planning to resume the military tribunals a...         0     2
55  Bill Simmons in conversation with Malcolm Glad...         0     2
66                        is scrapbooking with Nic =D         0     2
70                 'Next time, I'll call myself Nike'         0     2
-------------------------
                                                Tweet  Category  file
5   @richardebaker no. it is too big. I'm quite ha...         0     3
7                       Jquery is my new best friend.         0     3
17                 i love lebron. http://bit.ly/PdHur         0     3
24  good news, just had a call from the Visa offic...         0     3
27  Booz Allen Hamilton has a bad ass homegrown so...         0     3
-------------------------
                                                Tweet  Category  file
9   how can you not love Obama? he makes jokes abo...         0     4
13  Watchin Espn..Jus seen this new Nike Commerica...         0     4
19                        @Pmillzz lebron IS THE BOSS         0     4
42                  cant sleep... my tooth is aching.         0     4
43  Blah, blah, blah same old same old. No plans t...         0     4
-------------------------
                                                Tweet  Category  file
16  I was talking to this guy last night and he wa...         0     5
31  @surfit: I just checked my google for my busin...         0     5
32  @phyreman9 Google is always a good place to lo...         0     5
56  Highly recommend: http://tinyurl.com/HowDavidB...         0     5
60  @robmalon Playing with Twitter API sounds fun....         0     5
-------------------------
                                                Tweet  Category  file
2   Ok, first assesment of the #kindle2 ...it fuck...         0     6
11  @Karoli I firmly believe that Obama/Pelosi hav...         0     6
18  @ludajuice Lebron is a Beast, but I'm still ch...         0     6
37  @sekseemess no. I'm not itchy for now. Maybe l...         0     6
48  ?Obama Administration Must Stop Bonuses to AIG...         0     6
-------------------------
                                                Tweet  Category  file
6   Fuck this economy. I hate aig and their non lo...         0     7
10  Check this video out -- President Obama at the...         0     7
29  @SoChi2 I current use the Nikon D90 and love i...         0     7
36                           I'm itchy and miserable!         0     7
39  @spinuzzi: Has been a bit crazy, with steep le...         0     7
-------------------------
                                                Tweet  Category  file
12  House Correspondents dinner was last night who...         0     8
21        lebron and zydrunas are such an awesome duo         0     8
25  http://twurl.nl/epkr4b - awesome come back fro...         0     8
28  [#MLUC09] Customer Innovation Award Winner: Bo...         0     8
33  Played with an android google phone. The slide...         0     8
-------------------------
                                                Tweet  Category  file
4   @mikefish  Fair enough. But i have the Kindle2...         0     9
15  #lebron best athlete of our generation, if not...         0     9
20  @sketchbug Lebron is a hometown hero to me, lo...         0     9
22  @wordwhizkid Lebron is a beast... nobody in th...         0     9
23  downloading apps for my iphone! So much fun :-...         0     9
-------------------------

In [21]:
df.shape

(9656817, 3)