In [1]:
import pandas as pd

df1 = pd.read_csv('rawdata/testdata.manual.2009.06.14.csv', header=None)
df1.head()
df1['Tweet'] = df1[5]
df1['Category'] = 0
df1 = df1[['Tweet', 'Category']]
df1.head()

                                               Tweet  Category
0  @stellargirl I loooooooovvvvvveee my Kindle2. ...         0
1  Reading my kindle2...  Love it... Lee childs i...         0
2  Ok, first assesment of the #kindle2 ...it fuck...         0
3  @kenburbary You'll love your Kindle2. I've had...         0
4  @mikefish  Fair enough. But i have the Kindle2...         0

In [2]:
df2 = pd.read_csv('rawdata/training.1600000.processed.noemoticon.csv', header=None, encoding = "ISO-8859-1")
df2['Tweet'] = df2[5]
df2['Category'] = 0
df2 = df2[['Tweet', 'Category']]
df2.head()

                                               Tweet  Category
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...         0
1  is upset that he can't update his Facebook by ...         0
2  @Kenichan I dived many times for the ball. Man...         0
3    my whole body feels itchy and like its on fire          0
4  @nationwideclass no, it's not behaving at all....         0

In [3]:
df = pd.concat([df1, df2]).reset_index()
df.head()

   index                                              Tweet  Category
0      0  @stellargirl I loooooooovvvvvveee my Kindle2. ...         0
1      1  Reading my kindle2...  Love it... Lee childs i...         0
2      2  Ok, first assesment of the #kindle2 ...it fuck...         0
3      3  @kenburbary You'll love your Kindle2. I've had...         0
4      4  @mikefish  Fair enough. But i have the Kindle2...         0

In [4]:
df.shape

(1600498, 3)

In [5]:
df.to_csv('data/data.csv')